  <%if @user.avatar.attached?%>
    <a href="<%= edit_user_path %>"><%=  image_tag @user.avatar, alt: 'avatar' ,width: '200px', height: '200px', class: "rounded-circle"%></a>
  <%else%>
    <a href="<%= edit_user_path %>"><%= image_tag "unkown_user.png", alt: 'avatar' ,width: '200px', height: '200px', class: "rounded-circle"%></a>
  <%end%>



