<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">info sur le vélo</th>
    </tr>
  </thead>
  <% @bikes.each do |bike| %> 
  <tbody>
    <tr>
      <td><%= image_tag bike.avatar, alt: 'avatar' ,width: '200px', height: '200px'%></td>
      <td> <%= bike.more_info %></td>
      <td><a href="<%= bike_path(bike.id) %>" class="btn btn-outline-danger" data-method="DELETE"><i class="far fa-trash-alt fa-2x"></i></a></td>
    </tr>
  </tbody>
  <% end %>
</table>