
<div class="container border">
  <div class="row p-3">
    <img src="https://previews.123rf.com/images/jackf/jackf1607/jackf160702248/60065760-hot-girl-aux-cheveux-longs-posant-nue-%C3%A0-la-maison.jpg" alt="Avatar" width="75px" height="75px">
    <p><span class="text-muted">nour : </span> je suis intresée par votre vélo dispo ce soir ??</p>
    <input type="text"><button>envoyer</button>
  </div>
<hr>
  <div class="row">
    <img src="https://previews.123rf.com/images/jackf/jackf1607/jackf160702248/60065760-hot-girl-aux-cheveux-longs-posant-nue-%C3%A0-la-maison.jpg" alt="Avatar" width="75px" height="75px">
    <p><span class="text-muted">max : </span> je suis intresée par votre vélo dispo ce soir ??</p>
    <input type="text"><button>envoyer</button>
  </div>










</div>
