            <ul class="nav nav-tabs" id="myTab" role="tablist">

              <% if is_my_profile? %>
              <li class="nav-item ">
                <a class="nav-link text-dark" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="profile" aria-selected="false">Ma Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" id="rent-tab" data-toggle="tab" href="#rent" role="tab" aria-controls="profile" aria-selected="false">Mes Locations</a>
              </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link text-dark" id="bike-tab" data-toggle="tab" href="#bike" role="tab" aria-controls="profile" aria-selected="false">Vélos</a>
              </li>          
              <li class="nav-item">
                <a class="nav-link text-dark" id="message-tab" data-toggle="tab" href="#message" role="tab" aria-controls="profile" aria-selected="false">Messages(1)</a>
              </li>     
              <li class="nav-item">
                <a class="nav-link text-dark" id="commentaire-tab" data-toggle="tab" href="#commentaire" role="tab" aria-controls="profile" aria-selected="false">Commentairs</a>
              </li>   
            </ul>

