                                  <table class="table table-dark">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">bike id</th>
                                        <th scope="col">more info</th>
                                  
                                      </tr>
                                    </thead>
                                    <% @rents.each do |rent| %> 
                                    <tbody>
                                      <tr>
                                        <th scope="row"></th>
                                        
                                        <td><%= image_tag Bike.find(rent.bike_id).avatar, alt: 'avatar' ,width: '200px', height: '200px'%></td>
                                  
                                      </tr>
                                    </tbody>
                                    <% end %>
                                  </table>