<br><br><br>

<div class="container border">
  <%= form_tag private_messages_path ,multipart: true do %>
  <p>Envoyez un message: </p>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">message: </label>
      <%= text_area_tag :'content',"", class: 'form-control' %>  
    </div>
      <%= hidden_field_tag 'rent_id', @rent %>
    <div class="form-group row justify-content-center">
      <%= submit_tag "Envoyer" , class: "button"%>
    </div>
<% end %>
</div>



