<section class="hero-home">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper dark-overlay">
          <div style="background-color: red" class="swiper-slide"></div>
        </div>
      </div>
      <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-10">
            <div class="text-center text-lg-left">
              <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">la solution la moins chère pour louer un vélo</p>
              <h1 class="display-3 font-weight-bold text-shadow">Location de vélos entre particuliers</h1>
            </div>

            <div class="search-bar mt-5 p-3 p-lg-1 pl-lg-4">
              <form action="#">
                <div class="row">

                  <div class="col-lg-3"></div>

                  <div class="col-lg-3 d-flex form-group no-divider">
                    <select title="Ville" data-style="btn-form-control" class="selectpicker">
                      <option value="larg">Rennes</option>
                    </select>
                  </div>

                  <div class="col-lg-6">
                  <%= link_to"Chercher un Vélo ", rents_path, class: "btn btn-dark btn-block rounded-xl h-100" %>
               
                  </div>

             

                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

