<section class="hero-home">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper dark-overlay">
          <div style="background-image:url(https://images.pexels.com/photos/861014/pexels-photo-861014.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500)" class="swiper-slide">
          </div>
        </div>
      </div>

      <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-10">
            <div class="text-center text-lg-left">
              <h1 class="display-3 font-weight-bold text-shadow">Location de vélos entre particuliers</h1>
            </div>
            <div class="col-lg-6">
              <%= link_to"Chercher un Vélo ", rents_path, class: "btn btn-success btn-lg btn-block rounded-xl h-100" %>
            </div>  
          </div>
        </div>
      </div>

</section>

