

<header id="header" class="header">
  <div class="header-content">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <h1>Location de vélos entre particuliers</h1>
        </div>  
      </div>
      <%= form_tag rents_search_path ,multipart: true do %>
      <div class="form-group row">
        <label class="col-12 col-form-label">trouver un vélo à partir du: </label>
      </div>
      <div class="form-group row">
        <div class="col-lg-9 col-md-9 col-sm-12">
        <%= date_field_tag :'date',"", class: 'p-4 form-control', id: "btnsearch" %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
        <%= submit_tag "Rechercher" , class: "btn-solid-lg page-scroll"%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
