<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
    <h1>Merci <%= @user.first_name %> !</h1>
      <% @orders.each do |order| %>
      <p>Vous avez une locations du <%= order.date_disponible.strftime("%d/%m/%Y") %> au <%= order.date_end.strftime("%d/%m/%Y") %></p>
      <p>Vous avez payé <%= order.prix %> €</p>
      <hr>
      <% end %>
      <p>Merci et à bientôt chez <span class="text-sucess">V-loue</span></p>
      </div>
  </body>
</html>