// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


th,tr {
	font-family: 'Lato', sans-serif;
	color: #0D0D0D;
	text-shadow: white 0px 0px 10px;
}

 span {
  color: #6c757d;
}

.color_for_icon {
	color: #14bf98;
}

.left-list {
	border-right: solid 1px #14bf98;
}

