// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #f7f7ff !important;
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  color: #6A6A6A; }

th  {
    padding: 10px;
    border: solid 1px gray;
    color: grey;
  }

td {
  padding: 10px;
  border: solid 1px gray;
  font-size: large;
}

a {
  background-color: red; 
}
