<div class="container-fluid above_footer mt-7">
  <h2 class="mb-7 text-white">
    V-loue
  </h2>
</div>

<footer class=" mb-O">
      <div class="py-12 footer">
        <div class="container p-4">
          <div class="row ">
            <div class="col-6">
            </div>
            <div class="col-6">       
            <a href="#"><i class="fab fa-facebook-messenger fa-2x color_for_icon p-2"></i></a>
            <a href="https://www.instagram.com/khatbahusain/"><i class="fab fa-instagram fa-2x color_for_icon p-2"></i></a>
            <a href="#"><i class="fab fa-whatsapp fa-2x color_for_icon p-2"></i></a>
            <a href="#"><i class="far fa-envelope fa-2x color_for_icon p-2"></i></a>
            <a href="https://github.com/khatba"><i class="fab fa-github fa-2x color_for_icon p-2"></i></a> 
            </div>

          </div>
          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 text-white mb-0 pt-2">
              Tous droits réservés <i class="far fa-copyright"></i> <i class="fas fa-heart fa-1x" style="color:#DC143C;"></i>
            </div>
           
          </div>
        </div>
      </div>
    </footer>



